# Firebird / SinProd
FIREBIRD_HOST=192.168.1.8
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=c:/SINPROD WINDOWS/DADOS/INDUSTRIAL.FDB
FIREBIRD_USER=PILI_MAQ
FIREBIRD_PASSWORD=masterkey

# API
PORT=3333
API_KEY=sua-chave-secreta-aqui
